{% extends 'base.html' %}
{% block content %}

<main class="container profile-page">
  <br>
  <div class="col s12" style="text-align: center;">
    {% for profilepic in owner.ownerprofile_set.all %}
    <img class="circle responsive-img profile-image" style="max-width: 250px; max-height: 250px; min-width: 250px; min-height: 250px;" src="{{profilepic.url}}">
    <p class="profile-name">{{ owner.first_name }} {{ owner.last_name }}</p>
    {% empty %}
    <img class="circle responsive-img profile-image" style="max-width: 250px;" id="profilepicture"
      src="/static/css/profilePlaceholder.png">
    <p>{{ owner.first_name }} {{ owner.last_name }}</p>
    <div class="card-panel teal-text center-align">No Profile Pic</div>
    {% if user.owner.id %}
    <form action="{% url 'add_owner_profile' owner.id %}" enctype="multipart/form-data" method="POST"
      class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Profile Picture">
    </form>
    {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col s8">
      <div class="card-content">
        <p>Name: {{ owner.first_name }}</p>
        <p>Location: {{ owner.city }}</p>
        <p>Email: {{ owner.email }}</p>
        <p>About: {{ owner.about }}</p>
      </div>
      {% if user.owner.id %}
      <div class="card-action">
        <a href="{% url 'owners_update' owner.id %}" class="form-links">Edit</a>
        &nbsp;
        &nbsp;
        <a href="{% url 'owners_delete' owner.id %}" class="form-links">Delete</a>
      </div>
      {% endif %}
    </div>
    <div class="col s4">
      <iframe width="250" height="250" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAni-2dMS-1jCp_p8xumM82vShRZbY_CgU
      &q=Space+Needle,{{sitter.city}}">
      </iframe>
    </div>
  </div>
  <h5>Pet List</h5>
  <div class="grid-display">
    {% for pet in owner.pet_set.all %}
    <a href="{% url 'pets_detail' pet.id %}">
      <div class="card pet-cards">
        <div class="card-content">
          <span class="card-title center-align">{{ pet.name }}</span>
          <p>Type: {{ pet.pet_type }}</p>
          <p>Breed: {{ pet.breed }}</p>
          <p>Age: {{ pet.age }}</p>
          <p>Gender: {{ pet.gender }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% if user.owner.id %}
  <a href="{% url 'pets_create' owner.id %}" class="form-links">Add Pet</a>
  {% endif %}
  <br>

  <h5>Pet Photos</h5>
  {% for photo in owner.photo_set.all %}
  <img class="responsive-img" style="max-width: 250px; max-height: 250px;" src="{{photo.url}}">
  {% empty %}
  <div class="card-panel teal-text center-align">No Pet Photos</div>
  {% endfor %}
  {% if user.owner.id %}
  <form action="{% url 'add_photo' owner.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
  </form>
  {% endif %}
</main>

{% endblock %}