{% extends 'base.html' %}
{% block content %}
<main class="container profile-page">
  
  <div class="row">
    <div class="col s6 card small">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">PROFILE PHOTO</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6 card">
      <div class="card-content">
        <p>Name: {{ owner.first_name }}</p>
        <p>Location: {{ owner.city }}</p>
        <p>About: {{ owner.about }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'owners_update' owner.id %}">Edit</a>
        <a href="{% url 'owners_delete' owner.id %}">Delete</a>
      </div>
    </div>
  </div>

  
  <h3>Pet List</h3>
  {% for pet in owner.pet_set.all %}
  <a href="{% url 'pets_detail' pet.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ pet.name }}</span>
            <p>Type: {{ pet.pet_type }}</p>
            <p>Breed: {{ pet.breed }}</p>
            <p>Age: {{ pet.age }}</p>
            <p>Gender: {{ pet.gender }}</p>
        </div>
    </div>
  </a>
  {% endfor %}
  <a href="{% url 'pets_create' owner.id %}">Add Pet</a>
  <br>

  <a href="{% url 'add_posting' owner.id %}">Add Post</a>

</main>
{% endblock %}