body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

nav {
    background-color:rgb(136, 198, 196) ;
}

.page-footer {
    background-color:rgb(136, 198, 196) ;
}

/* Style Home Page */

#home-background {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/378/85/136/dog-pug-funny-canine-wallpaper-preview.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.home-page {
    height: 700px;
    width: 50%;
}
.home-container {
    width: 100%;
}

.home-page > h3 {
    font-family: 'Francois One', sans-serif;
    padding: 80px;
    width: 500px;
}