body {
    color: rgb(79, 83, 91);
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
  }
  
main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

nav {
    background-color:#9A8C98;
    font-family: 'Francois One', sans-serif;
    
}

.page-footer {
    background-color:rgb(126, 125, 140);
}

.btn {
    background-color: rgb(188, 202, 116);
    transition: background-color .2s ease-out;
}

.btn:hover {
    background-color: rgb(202, 211, 139);
}

a {
    color: rgb(125, 127, 130);
}

h4 {
    font-family: 'Francois One', sans-serif;
}

/* Style Home Page */

#home-background {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/378/85/136/dog-pug-funny-canine-wallpaper-preview.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.home-page {
    height: 700px;
    width: 50%;
}

.home-container {
    width: 100%;
}

.home-page > h3 {
    font-family: 'Francois One', sans-serif;
    padding: 80px;
    width: 500px;
}

/* Style About Page */
.about-page {
    width: 50%;
}

.about-page > p {
    font-size: medium;
}



/* Style Petcations */
.flex-display {
    display: flex;
    flex-wrap: wrap;
}

.petcation-card {
    margin: 10px;
}

#profilepicture {
    max-height: 80px;
    width: 80px;
}

.post-index-title {
    color: rgb(79, 83, 91);
    font-family: 'Francois One', sans-serif;
}

.petcation-card-links {
    color: rgb(79, 83, 91);
}

.petcation-page > div > span > a > h4 {
    color: rgb(79, 83, 91);
    font-family: 'Francois One';
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.petcation-page > div > span > a > h4:hover {
    color: rgb(125, 127, 130);
}

.post-card-title {
    color: rgb(79, 83, 91);
    font-weight: 700;
}

.post-detail-title {
    font-size: 40px;
}

.petcation-page > div > span > a > h4 {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .avail-sitters {
    color: rgb(79, 83, 91);
} */

/* Style Profile Pages */
.profile-page {
    width: 80%;
}

.form-links {
    color: rgb(148, 162, 77);
}

.profile-name {
    font-size: 1.6rem;
}

.profile-image {
    border: 1px rgb(79, 83, 91) solid;
}

.pet-cards {
    margin: 10px;
}