{% extends 'base.html' %}
{% block content %}
<main class="container profile-page">

  
  <div class="card-content">
    <span class="card-title">
      <a href="{% url 'owners_detail' post.owner.id %}">
        <h4>
          Pet Owner: {{ post.owner }}
        </h4>
      </a>
    </span>
      <p>Start Date: {{ post.start_date }}</p>
      <p>End Date: {{ post.end_date }}</p>
      <p>Details: {{ post.details }}</p>
      <p>Email: <a href="mailto:{{ post.owner.user.email }}">{{ post.owner.user.email }}</a></p>
    </div>
  {% if user.owner.id %}
  <div class="card-action">
    <a href="{% url 'posts_update' post.id %}">Edit</a>
    <a href="{% url 'posts_delete' post.id %}">Delete</a>
  </div>
  {% endif %}

  <hr>
 
  <div class="card-action">   
    <h4>Available Sitters:</h4>
    <!-- Leaving the action empty makes the form post to the same url used to display it -->
    <form action="{% url 'show_interest' post.id %}" method="post">
    <!-- Django requires the following for security purposes -->
      {% csrf_token %}

      {{ show_interest_form.as_p }}
      
      <input type="submit" value="Submit" class="btn">
    
    </form>
    <br> 
    <table class="striped">
      <thead>
        <tr><th>Sitter Name</th><th>Available</th></tr>
      </thead>
      <tbody>
        {% for interest in post.showinterest_set.all %}
          {% if interest.is_interested == 'Y' %}
            <tr>
              <td><a href="{% url 'sitters_detail' interest.sitter.id %}">{{interest.sitter.first_name}}</td></a>
              <td>{{interest.get_is_interested_display}}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table> 
  </div>
</main>
<script>
  // initialize the interest select
  var selectEl = document.getElementById('id_is_interested');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}